---
layout: default
active: home
title: "Home"
---
<html lang="en">
<div class='slider-row'>
	<ul id='home-slider' class='bxslider'>
		<li style="background-image: url('{{'/images/pisi-flat-1.png' | prepend: site.baseurl }}')" background-size:cover>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6'>
                        <div class='slogan-holder'>                            
                            <div class='slogan-text'>
                                <h1>
                                    PiSi Linux
                                </h1>
                                <div class=form-group>
                                    <p>
                                        It is free and open source
                                    </p>									
                                </div>
                            </div>                            
                            <div class='form-group'>
                                <a href="{{ site.baseurl }}/work.html" class='btn btn-primary-transparent btn-lg' tabindex="-1">Download</a>
                                <a href="https://sourceforge.net/projects/pisilinux/files/2.0/" class='btn btn-quote btn-lg' tabindex="-1">
                                    PiSi Linux 2.0 BETA 2
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>			
		</li>
		<li style="background-image: url('{{'/images/pisi-flat-2.png' | prepend: site.baseurl }}')" background-size:cover>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6'>
                        <div class='slogan-holder'>                            
                            <div class='slogan-text'>
                                <h1>
                                    PiSi Linux
                                </h1>
                                <div class=form-group>
                                    <p>
                                        Quick and easy to install 
                                    </p>									
                                </div>
                            </div>                            
                            <div class='form-group'>
                                <a href="{{ site.baseurl }}/work.html" class='btn btn-primary-transparent btn-lg' tabindex="-1">İNDİR</a>
                                <a href="https://sourceforge.net/projects/pisilinux/files/2.0/" class='btn btn-quote btn-lg' tabindex="-1">
                                    PiSi Linux 2.0 BETA 2
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>			
		</li>
		<li style="background-image: url({{'/images/pisi-flat-3.png' | prepend: site.baseurl }})" background-size:cover>			
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6'>
                        <div class='slogan-holder'>
                            <h1>
                                PiSi Linux
                            </h1>
                            <div class='form-group'>
                                <p>
                                    It is easy 
                                </p>
                            </div>
                            <div class='form-group'>
                                <a href="{{ site.baseurl }}/work.html" class='btn btn-primary-transparent btn-lg' tabindex="-1">İNDİR</a>
                                <a href="https://sourceforge.net/projects/pisilinux/files/2.0/" class='btn btn-quote btn-lg' tabindex="-1">
                                    PiSi Linux 2.0 BETA 2
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
		</li>
		<li style="background-image: url({{'/images/pisi-flat-6.png' | prepend: site.baseurl }})" background-size:cover>			
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6'>
                        <div class='slogan-holder'>
                            <h1>
                                PiSi Linux Family
                            </h1>
                            <div class='form-group'>
                                <p>
                                    After installing Linux Pisi welcomes you with a wide range of applications.
                                </p>
                            </div>
                            <div class='form-group'>
                                <a href="{{ site.baseurl }}/work.html" class='btn btn-primary-transparent btn-lg' tabindex="-1">İNDİR</a>
                                <a href="https://sourceforge.net/projects/pisilinux/files/2.0/" class='btn btn-quote btn-lg' tabindex="-1">
                                    PiSi Linux 2.0 BETA 2
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
		</li>
		<li style="background-image: url({{'/images/pisi-flat-7.png' | prepend: site.baseurl }})" background-size:cover>			
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6'>
                        <div class='slogan-holder'>
                            <h1>
                                PiSi Linux
                            </h1>
                            <div class='form-group'>
                                <p>
                                    Viruses impassable…
                                </p>
                            </div>
                            <div class='form-group'>
                                <a href="{{ site.baseurl }}/work.html" class='btn btn-primary-transparent btn-lg' tabindex="-1">İNDİR</a>
                                <a href="https://sourceforge.net/projects/pisilinux/files/2.0/" class='btn btn-quote btn-lg' tabindex="-1">
                                    PiSi Linux 2.0 BETA 2
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
		</li>
	</ul>
</div>

<div class='stripe-row default-row'>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12'>
				<h2 class='title'>
					PiSi Linux Family
				</h2>
			</div>
		</div>
        <div class='row'>       
            {%assign services = site.services | sort: 'sequence'%}
            {% for service in services%}                
                <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12 animated'>
                    <div id="{{service.title | replace: ' '}}" class='card card-white service-card'>                                          
                        <a class='card-image-link action' href="{{service.url}}" aria-label="More info on {{service.title}}">
                            <div class='card-image' style="background-image:url('{{service.image}}')">
                                <div class='thumbs-up'>
                                    <i class="{{service.icon}}" aria-hidden="true"></i>    
                                </div>
                            </div>
                        </a>                    
                        <div class='content'>
                            <h5>
                                <a class='action' href="{{service.url}}">
                                    <strong>
                                        {{service.title}}
                                    </strong>                                    
                                </a>
                            </h5>
                            {{ service.description }}
                        </div> 
                        <div class='call-to-action'>
                            <a class='action' href="{{service.url}}" aria-label="More info on {{service.title}}">
                                <i class="fa fa-plus" aria-hidden="true"></i> Daha Fazlası
                            </a>
                        </div>                    
                    </div>
                </div>                
            {% endfor %}			
			<div class='clearfix'></div>
        </div>
	</div>
</div>

<div class='white-row default-row'>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12'>
				<h2 class='title'>
					Mostly Hearing
				</h2>
			</div>
            {% assign works = site.categories.work | sort: 'sequence' | limit: 3 %}
            {% for work in works %}                
                <div class='col-md-4 col-sm-6 col-xs-12 animated'>
                    <div class='card card-gray'>            
                        <a class="card-image-link action" href="{{ work.url }}" aria-label="More info on {{work.title}}">
                            <div class="card-image" style="background-image:url('{{site.baseurl}}/images/{{work.image}}')">
                            </div>
                        </a>
                        <div class='content'>
                            <h5>
                                <a href='{{ work.url }}' aria-label="More info on {{work.title}}">
                                    <strong> {{work.title}} </strong>
                                </a>
                            </h5>
                            {{ work.description | truncate: 100 }}
                        </div>
                        <div class="call-to-action">
                            <a class='action' href="{{ work.url }}" aria-label="More info on {{work.title}}">
                                <i class="fa fa-plus" aria-hidden="true"></i> More info
                            </a>
                        </div>            
                    </div>
                </div>                
            {% endfor %}
		</div>
	</div>
</div>

{% include quote.html %}
