<div class='disclaimer-row'>
	<div class='container'>
        <div class='row'>
            <div class='col-md-3 col-sm-6 col-xs-12'>
                <h4>
                    <strong>
                        Takip Edin
                    </strong>                    
                </h4>
                
				<ul class='list-unstyled'>
                    <li>
						<a href="{{ site.google_address }}" target="_blank">
							<i class="fa fa-google" aria-hidden="true"></i> Google
						</a>
					</li>
                </ul>   
				<ul class='list-unstyled'>
                    <li>
						<a href="{{ site.github_address }}" target="_blank">
							<i class="fa fa-github" aria-hidden="true"></i> Github
						</a>
					</li>
                </ul>   
				<ul class='list-unstyled'>
                    <li>
						<a href="{{ site.twitter_address }}" target="_blank">
							<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
						</a>
					</li>
                </ul>   
				<ul class='list-unstyled'>
                    <li>
						<a href="{{ site.facebook_address }}" target="_blank">
							<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
						</a>
					</li>
                </ul>   
            </div>
            <div class='col-md-3 col-sm-6 col-xs-12'>
                <h4>
                    <strong>
                        Siteler
                    </strong>                    
                </h4>  
				<ul class='list-unstyled'>
                    <li>
						<a href="{{ site.wiki_address }}" target="_blank">
							<i class="fa fa-wikipedia-w" aria-hidden="true"></i> PiSi Wiki
						</a>
					</li>
                </ul>  
				<ul class='list-unstyled'>
                    <li>
						<a href="{{ site.forum_address }}" target="_blank">
							<i class="fa fa-forumbee" aria-hidden="true"></i> Pisi Forum
						</a>
					</li>
                </ul>  
				<ul class='list-unstyled'>
                    <li>
						<a href="{{ site.bugs_address }}" target="_blank">
							<i class="fa fa-bug" aria-hidden="true"></i> Pisi Bugs
						</a>
					</li>
                </ul> 
				<ul class='list-unstyled'>
                    <li>
						<a href="{{ site.slack_address }}" target="_blank">
							<i class="fa fa-slack" aria-hidden="true"></i> Pisi Slack
						</a>
					</li>
                </ul>
            </div>
            <div class='col-md-3 col-sm-6 col-xs-12'>
                <h4>
                    <strong>
                        PiSİ Ailesi
                    </strong>                    
                </h4>
                <ul class='list-unstyled'>
                    {% for service in site.services %}                    
                        <li>
                            <a href='{{ service.url }}'>{{service.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-md-3 col-sm-6 col-xs-12'>
                <h4>
                    <strong>
                        İndir
                    </strong>                    
                </h4>
                <ul class='list-unstyled'>
                    {% assign works = site.categories.work | sort: 'sequence' %}
                    {% for work in works %}
                        <li>
                            <a href='{{work.url}}'>{{work.title}}</a>                            
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-md-3 col-sm-6 col-xs-12'>
                <h4>
                    <strong>
                        PiSi
                    </strong>                    
                </h4>                
                <ul class='list-unstyled'>
                    <li>
                        <a href='{{site.baseurl}}/gallery.html'>Ekran Görüntüleri</a>                        
                    </li>
                    <li>
                        <a href='{{site.baseurl}}/about.html'>Hakkında</a>
                    </li>
                    <li>
                        <a href='{{site.baseurl}}/contact.html'>İletişim</a>
                    </li>
                </ul>
            </div>            
        </div> 
        <div class='col-xs-15 col-lg-push-11 col-md-push-1 col-sm-push-1 form-group'>Sponsorlar
            <img src='{{site.baseurl}}/images/sponsor.png' alt="Sponsorlar" class='img-responsive img-border' />
        </div> 
        <div class='row'>
            <ul class='list-unstyled'>
                <li>
                    <i class="fa fa-creative-commons" aria-hidden="true"></i> {{site.name}}
                </li>
            </ul>
        </div>
	</div>
</div>
