<html lang="tr">
<meta charset="utf-8">
<div class='menu-row' data-spy="affix" data-offset-top="50">
	<nav class="navbar navbar-default">
		<div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{{ site.baseurl }}/">
                <img src="{{site.baseurl}}/images/logo-pisi-negro-250px.png" alt="PiSi Linux Logo" class='logo-image' />
                <span class='logo'>
                    <span class='logo-upper'>
                        {{site.name}}
                    </span>
                    <span class='logo-lower'>
                        Özgürlük Şimdi Başladı
                    </span>
                </span>
                
            </a>
        </div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
			<li>
				
				<a href="{{ site.baseurl }}/" class='{% if page.active == "home" %} active {% endif %}'>
					Ana Sayfa
				</a>
		  	</li>
			<li>
				<a href="{{ site.baseurl }}/services.html" class='{% if page.active == "services" %} active {% endif %}'>
					PiSi Ailesi
				</a>
			</li>
		  	<li>
				<a href="{{ site.baseurl }}/work.html" class='{% if page.active == "work" %} active {% endif %}'>
					İndir
				</a>
		  	</li>            
			<li>
				<a href="{{ site.baseurl }}/gallery.html" class='{% if page.active == "gallery" %} active {% endif %}'>
					Ekran Görüntüleri
				</a>
		  	</li>
			<li>
			  	<a href='{{ site.baseurl }}/about.html' class='{% if page.active == "about" %} active {% endif %}'>
					Hakkında
				</a>
			</li>
			<li>
				<a href='{{ site.baseurl }}/contact.html' class='{% if page.active == "contact" %} active {% endif %}'>
					İletişim
				</a>
			</li>
		  </ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
</div>
