<div class='quote-row'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-10 col-md-10 col-sm-12 col-xs-12'>
				<h4 class='animated'>
                    Pisi Linux Hakkında Bilmek İstediklerinizi Sorun.			
                </h4>
			</div>
            <div class='col-lg-2 col-md-2 col-sm-12 col-xs-12'>
                <a href="{{ site.baseurl}}/contact.html" class='btn btn-quote btn-lo pull-right' tabindex="-1">
                    Mesaj Yazın
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
		</div>
	</div>
</div>
