<aside class="right" id="sidebar-grid">

<div class="sidebar" id="how-to-wrap">

    <div class="category-title second-category-title"><p>Nasıl Belgeleri</p></div>

    <ul class="category inner">

			<li class="category-feed"><a href="www.twitter.com/pisilinux">Pisi Linux Kurulum Belgesi</a></li>
			<li class="category-feed"><a href="amazon-app">Amazon Is Reportedly Working on a 'Prime for Apps' Service</a></li>
			<li class="category-feed"><a href="apple-windows-7">Apple Stops Supporting Windows 7 in Boot Camp on New MacBook Pro, MacBook Air Models</a></li>
			<li class="category-feed"><a href="amazon-app">Design Shots is a Minimalist Dribbble Client for iPhone </a></li>
			<li class="category-feed"><a href="google-docs">Google Docs Lets Admins Distribute Add-ons for Full Teams</a></li>
			<li class="category-feed"><a href="apple-cameras">Apple Invites Cameras Into Its Secret Apple Watch Fitness Lab</a></li>
    </ul>
</div>
